@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font1: 'Roboto', sans-serif;
    --font2: "Open Sans", sans-serif;
    --spacing: 0.1rem;
}

body{
    font-family: var(--font2);
    background-color: #F1F5F8;
    letter-spacing: var(--spacing);
}

a{
    text-decoration: none;
}

h2{
    letter-spacing: var(--spacing);
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}
@media screen and (min-width: 800px){
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.30rem;
    }
    h4{
        font-size: 1rem;
    }
    body{
        font-size: 1rem;
    }
    h1, h2, h3, h4{
        line-height: 1;
    }
    .btn{
        font-size: 1.2rem;
    }
}

nav{
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: var(--font1);
    background-color: white;
}
.nav-center{
    width: 90vw;
    max-width: 620px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
nav h3{
    color: hsl(205, 74%, 27%);
}
nav a {
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    color: hsl(205, 86%, 17%);
}
nav a:hover{
    color: #EB4F57; 
    text-decoration: underline;
}

main{
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container{
    text-align: center;
}
.container h2{
    background-color: #222;
    color: white;
    padding: 1rem;
    margin-bottom: 2.5rem;
    border-radius: 0.30rem;
}

button{
    font-family: var(--font1);
    background: transparent;
    color: #222;
    letter-spacing: var(--spacing);

    font-weight: 700;
    transition: all 0.2s linear;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    text-shadow: white px 1px 1px;
    border: 2px solid #222;
}
button:hover{
    color: white;
    background-color: #222;
    text-shadow: white px 1px 1px;
}